<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cantina_tio_bill_CSharp.Properties.Settings.cantina_tio_billConnectionString"
            connectionString="Data Source=ASUS-JL;Initial Catalog=cantina_tio_bill;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
        <add name="cantina_tio_bill_CSharp.Properties.Settings.ConnectionString"
            connectionString="Data Source=ASUS-JL;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>